<launch>
  <arg name="path_file" default="$(find pure_pursuit_algorithm)/path/output.csv"/>
  <!-- <node pkg="pure_pursuit_algorithm" name="pure_pursuit_algorithm" type="machine_driver2"  output="screen"/> -->
  
  <node pkg="pure_pursuit_algorithm" name="driver" type="machine_driver2"  output="screen">
  <param name="test_param" value="$(arg path_file)" />
  </node>



</launch>