<launch>
  <arg name="path_file_directory" default="$(find pure_pursuit_algorithm)/path/"/>
  <arg name="path_list_name" default="path_list.txt"/>
  
  <node pkg="pure_pursuit_algorithm" name="driver" type="machine_driver"  output="screen">
    <param name="path_file_directory" value="$(arg path_file_directory)" />
    <param name="path_list_name" value="$(arg path_list_name)" />
  </node>



</launch>